# Virtual environment
ser_env/

# Data folders (too large for GitHub)
data/

# Recordings
recordings/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db